body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fffcef;
}

*{
  box-sizing: border-box;
}

::selection{
  background: transparent;
  color: inherit;
}

::-moz-selection{
  background: transparent;
  color: inherit;
}

::-webkit-scrollbar{
  background: #eee;
  width: 3px;
}

::-webkit-scrollbar-thumb{
  background: #28282a;
}

@font-face {
  font-family: product;
  src: url('fonts/Product.ttf');
}

@font-face {
  font-family: bebas;
  src: url('fonts/BebasNeue.otf');
}

@font-face {
  font-family: crete;
  src: url('fonts/CreteRound.ttf');
}

@font-face {
  font-family: kayak-b;
  src: url('fonts/Kayak Sans Bold.otf');
}

@font-face {
  font-family: kayak-r;
  src: url('fonts/Kayak Sans Regular.otf');
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
  color: #283149;
}

p{
  font-family: kayak-r, sans-serif;
  color: #404b69;
}

ul{
  list-style-type: none;
  padding: 0px;
}

a{
  text-decoration: none;
  font-family: kayak-b, sans-serif;
  color: #283149;
}

.white{
  color: #fff;
}

.black{
  color: #283149;
}

/*STYLESHEETS*/

.header{
  width: 80%;
  position: fixed;
  display: flex;
  align-items: center;
  top: 10%;
  left: 10%;
  z-index: 10;
  box-shadow: inset 480px 0 #fffcef;
}

.header__logo{
  width: 38px;
  margin-right: 25px;
}

.header a{
  margin: 0 16px;
  letter-spacing: 1px;
  transition: 0.4s;
  box-shadow: inset 0px 0 #ccc;
}

.header__pgname{
  position: absolute;
  right: 0;
  bottom: -12%;
  color: #283149;
  font-family: kayak-b, sans-serif;
}

.header a:hover{
  box-shadow: inset 30px 0 #bbb;
}

/*CONTENT*/

.banner{
  width: 100%;
  height: 70%;
  position: relative;
  padding: 16% 10%;
}

.banner h1{
  font-family: product, sans-serif;
  font-size: 17vh;
  color: #28282a;
}

.banner h2{
  position: absolute;
  top: 48%;
  right: 12%;
  font-family: bebas, sans-serif;
  font-size: 32vh;
  opacity: 0.2;
  letter-spacing: 15px;
}

.banner p{
  line-height: 25px;
  margin-top: -10px;
  padding-left: 5px;
}

.banner img{
  width: 38px;
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translate(-50%, 0);
}

.content{
  padding: 10%;
}

.art{
  width: 100%;
  height: 80vh;
  position: relative;
}

.art__interaction{
  background: url("photos/inter.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.art__monitor{
  background: url("photos/monitor.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.art__analyze{
  background: url("photos/analyze.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.art__knowledge{
  background: url("photos/know.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.art__text{
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.art__text h1{
  font-family: bebas, sans-serif;
  font-size: 8vh;
  padding-right: 5px;
  letter-spacing: 4px;
}

.art__text--info{
  height: 6vh;
  padding-left: 5px;
}

.art__text--info h3{
  margin: 6px 0 -12px 0;
  font-family: kayak-b, sans-serif;
}

.art__text hr, hr{
  background: #28282a;
  width: 3px;
  height: 6.3vh;
  border: none;

}

.para{
  text-align: center;
  padding: 8%;
}

.para p{
  font-family: crete, sans-serif;
  font-size: 5vh;
}

.use-heading{
  font-size: 40vh;
  font-family: product, sans-serif;
  position: absolute;
  left: -15%;
  margin-top: 15%;
  transform: rotate(90deg);
  opacity: 0.1;
}

.uses{
  width: 100%;
}

.uses h1{
  font-family: bebas, sans-serif;
  text-align: center;
  font-size: 50px;
  padding-left: 60%;
  letter-spacing: 5px;
  text-align: center;
}

.uses__text{
  padding: 0 12% 6% 18%;
}

.uses__text h2{
  font-family: crete, sans-serif;
  font-size: 30px;
}

.uses__text--para{
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.uses__text--para p{
  line-height: 26px;
  font-size: 17px;
  width: 44%;
  word-wrap: break-word;
}

.uses__text--para p:nth-child(1){
  margin-right: 4%;
}

.uses__text--para p:nth-child(2){
  margin-left: 4%;
}


.nxt{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5% 35%;
  transition: 0.4s;
}

.nxt__interaction{
  background: url("photos/inter.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.nxt__monitor{
  background: url("photos/monitor.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.nxt__analyze{
  background: url("photos/analyze.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.nxt__knowledge{
  background: url("photos/know.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.nxt:hover{
  padding: 5% 37%;
  background-position: 0 10%;
}

.nxt h1, .nxt h2{
  font-family: bebas, sans-serif;
  font-size: 8vh;
  letter-spacing: 5px;
}

.nxt hr{
  width: 3px;
  height: 6.3vh;
  margin-top: 1px;
}
