<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145352703-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145352703-1');
  </script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About ― Joe Mase</title>
    <link rel="stylesheet" href="css/layout.css"></link>
    <link rel="stylesheet" href="css/styles.css"></link>
</head>
<body class="is-loading">
    <nav>
        <div class="nav-items">
            <a href="">JOE MASE</a>
            <ul class="nav-center">
                <li><a id="home-link" href="index.html">WORKS</a></li>
                <li><a id="about-link" href="about.html" class="active">ABOUT</a></li>
            </ul>
            <ul>
                <li><a href="https://twitter.com/designflavorist">TW</a></li>
                <li><a href="https://www.behance.net/abhishek_jha">BE</a></li>
                <li><a href="https://instagram.com/design_flavorist">IN</a></li>
            </ul> 
        </div>
    </nav>
    <main>
        <section id="content" class="about">
            <div class="main-back">
                <img src="assets/arrow.png"/>
                <p id="back-text">back</p>
            </div>

            <style>main{position: fixed} body{overflow-x: hidden}</style>
            <div class="scroll-wrapper">
              <div class="about-content" id="luxy">
                  <div class="main-title">
                      <h1>
                          Based in New York, <span><i>Joe</i></span> <span><i>Mase</i></span> is an award winning Photographer and brand startegist
                          who has worked with some internationally renowned people & is currently available for freelance.
                      </h1>
                  </div>
                  <div>
                      <div class="about-containers">
                          <h3>About</h3>
                          <p>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus. Qui 
                             quod obcaecati, reiciendis culpa officia sapiente voluptate optio, harum 
                             repudiandae itaque sequi architecto quidem explicabo.<br/><br/>
                             Ducimus quod obcaecati, reiciendis culpa officia sapiente voluptate optio, harum 
                             repudiandae itaque sequi architecto quidem explicabo.
                          </p>
                      </div>
                      <div class="about-containers">
                          <h3>Clients</h3>
                             <ul>
                                 <li>Adidas</li>
                                 <li>Nike</li>
                                 <li>Adobe</li>
                                 <li>Everlane</li>
                                 <li>Devote</li>
                                 <li>Art Station</li>
                             </ul>
                      </div>
                      <div class="about-containers contact">
                          <h3>Contact</h3>
                          <ul>
                              <li><a class="email" href="">Info@joemase.com</a></li><br/>
                              <li><a target="_blank" href="">Behance</a></li>
                              <li><a target="_blank" href="">Instagram</a></li>
                              <li><a target="_blank" href="">Flickr</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
        </section>
    </main>

    <div class="loading-screen">
        <div class="loading-content">
            <h1>JOE MASE</h1>
            <p>Phtographer</p>
            <img src="assets/load3.gif" alt="Loading..."/>
        </div>
    </div>

    

    <script src="js/jquery.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src='js/luxy.js'></script>
    <script src="js/index.js"></script>
    <div id="loadScript">
        <script>
            luxy.init();
        </script>
    </div>
</body>
</html>