@import '../node_modules/poly-fluid-sizing/poly-fluid-sizing';

@media only screen and (min-width: 768px) {

    .c-scrollbar{
        z-index: 50;
    }

    //DESKTOP VARIABLES
    $side-margin: 5vw;
    $title-color: #4E4E4E;
    $small-title-color: #43283A;
    $secondary-bg: #F5F5F5;
    $hr-color: rgba(65, 65, 65, 0.2);
    $para-color: #414141;
    $easing: cubic-bezier(0,.89,.41,1);

    //UNIVERSAL CLASSES

    h1, h2, h3, h4, h5{
        line-height: 75%;
    }

    a{
        color: $para-color;
    }

    .o-desktop{
        display: inherit !important;
    }

    .o-mobile{
        display: none !important;
    }

    .o-section{
        margin: 0 $side-margin;
    }

    .o-title{
        color: $title-color;
        @include poly-fluid-sizing('font-size', (768px:90px, 1280px:110px, 1366px:125px, 1440px:135px, 1920px:150px));
    }

    //NAV
    nav{
        top: 6.5vh;
        padding: 0 $side-margin;

        a{
            color: $title-color;
            position: relative;
            text-decoration: none;

            &::after, &::before{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: #4E4E4E;
                height: 1px;
                transition: .8s;
                transition-timing-function: $easing;
            }

            &::after{
                right: 0;
                transform-origin: right;
            }

            &::before{
                left: 0;
                transform-origin: left;
                transform: scale(0,1);
                transition-delay: .2s;
            }

            &:hover::after{
                transform: scale(0,1);
                transition: 0;
            }

            &:hover::before{
                transform: scale(1,1);
                transition-delay: 0;
            }
        }
    }

    .c-nav-social{
        position: relative;
        display: inline-block;

        & > a{
            z-index: 4;
            position: relative;
        }
    }

    .c-nav-social__dropdown{
        position: absolute;
        top: -20px;
        left: -74%;
        width: 12vw;
        background: #fff;
        border-radius: 25px;
        visibility: hidden;
        transition: .4s;
        transition-timing-function: $easing;
        opacity: 0;

        &::after{
            content: url(/assets/drop-down.svg);
            position: absolute;
            right: 28px;
            top: 15px;
            z-index: 4;
            width: 20px;
        }

        ul{
            padding-top: 58px;
            padding-bottom: 8px;
            position: relative;

            &::before{
                content: "";
                width: 80%;
                height: 1px;
                position: absolute;
                top: 54px;
                display: block;
                background-color: $hr-color;
                right: 10%;
                transition: .4s;
                transform: scale(0);
            }
        }

        li{
            padding: 10px 25px;
            margin: 5px 5px;
            position: relative;
            cursor: pointer;
            opacity: 0;
            transform: translate(0, 20%);
            transition: .8s;
            transition-timing-function: $easing;
            border-radius: 50px;
            

            a{
                position: relative;
                z-index: 1;
                color: $title-color;
                border-radius: 50px;
                text-decoration: none !important;
                
                &::after, &::before{
                    display: none;
                }
            }
        }

        li:nth-child(1){
            transition-delay: .1s !important;
        }

        li:nth-child(2){
            transition-delay: .3s !important;
        }

        li:nth-child(3){
            transition-delay: .5s !important;
        }

    }

    .c-nav-social:hover .c-nav-social__dropdown{
        visibility: visible;
        opacity: 1;

        ul::before{
            transform: scale(1);
        }

        li:nth-child(1){
            opacity: 1;
            transform: translate(0, 0);
            transition-delay: .5s;
        }

        li:nth-child(2){
            opacity: 1;
            transform: translate(0, 0);
            transition-delay: .3s;
        }

        li:nth-child(3){
            opacity: 1;
            transform: translate(0, 0);
            transition-delay: .1s;
        }
    }


    //TITLE

    .c-title{
        padding: 24vh 0 0 0;
    }

    .c-title__svg{
        width: 42%;
        transform: translate(0, -26%);
        align-items: flex-end;
        justify-content: space-between;

        .c-down-btn{
            width: 4.2vw;
            transform: translate(2px, -5px);
        }
    
        svg{
            @include poly-fluid-sizing('width', (768px:210px, 1280px:325px, 1366px:340px, 1920px:460px));
            margin: 0px 0;
        }
    }

    ._title-fit{
        line-height: 115%;
        margin-top: -3%;
    }

    .c-title__row{
        display: flex;

        h2{
            overflow-y: hidden;
            color: $title-color;
            @include poly-fluid-sizing('font-size', (768px:108px, 1280px:170px, 1366px:182px, 1440px:190px, 1920px:250px));
        }

        &:nth-child(2){
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .c-t-a-info{
        padding-top: 3.18%;
        @include poly-fluid-sizing('padding-left', (768px:52px, 1280px:115px, 1366px:120px, 1920px:185px));
        
        &:nth-child(1){
            margin-right: 9vw;
        }
    }

    .c-t-a-info--desktop{
        display: flex;
    }

    .c-t-a-info--mobile{
        display: none;
    }


    //ABOUT

    .c-about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        margin-bottom: 8vh;

        & > div:first-child{
            width: 30%;
        }

        p{
            margin-top: 0;
            width: 81%;
            color: $para-color;
            @include poly-fluid-sizing('font-size', (768px:20px, 1280px:24px, 1366px:30px, 1440px:34px, 1920px:38px));
        }
    }

    .c-about-cards{
        width: 42%;
        transform: translate(6%, 25%);

        & > div{
            width: 65%;
            overflow: hidden;
            transform-origin: bottom;

            img{
                width: 105%;
            }
        }

        & > div:nth-child(1){
            top: -12%;
            left: -16%;
            position: absolute;
            transform: rotate(-5.62deg);
        }
    
        & > div:nth-child(2){
            position: relative;
            z-index: 2;
            transform: translate(0, 0);
        }
    
        & > div:nth-child(3){
            top: 12%;
            left: 16%;
            position: absolute;
            transform: rotate(3.91deg);
            z-index: 3;
        }
    }


    //WORKS

    .c-works{
        padding: 32vh $side-margin 12vh $side-margin;
        background-color: $secondary-bg;

        hr{
            width: 86.6%;
            background-color: $hr-color;
            margin: 18vh 0 24vh 13.4%;
        }
    }

    .c-services{
        display: flex;

        img{
            width: auto;
        }
    
        & > div{
            margin: 2vw 0 0 6vw;
        }
    
        p{
            width: 40%;
            font-size: 20px;
            color: $para-color;
        }
    }

    .c-works_title{
        padding-left: 13.4%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 22vh;

        div{
            display: flex;
            align-items: flex-end;

            p{
                margin-left: 30px;
                transform: translate(0, -3px);
                font-size: 20px;
                color: $para-color;
            }
        }

        h2{
            display: flex;
            justify-content: flex-end;

            & > span:last-child{
                margin-left: 20px;
                text-align: right;
                margin-top: 0;
            }
        }

        img{
            transform: rotate(90deg);
        }
    }


    //PROJECTS

    .c-project__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 16vh;

        .u-width-1{
            width: 55%;
        }

        .u-width-2{
            width: 32%;
            transform: translate(-20%, 0);

            a{
                padding-top: 68% !important;
            }
        }

        .u-width-3{
            width: 34%;
            transform: translate(0, 40%);

            a{
                padding-top: 60% !important;
            }
        }

        .u-width-4{
            width: 58%;

            a{
                padding-top: 60% !important;
            }
        }
    }

    .c-project{
        border-radius: 50px;
        margin: 0;

        a{
            padding-top: 75%;
        }

        img{
            width: 105%;
        }
    }

    .c-project-cta{
        p{
            font-size: 36px;
            text-transform: none;
            background: #fff;
            padding: 15px 55px;
        }
    }

    .c-prj-btn{
        padding: 24px;

        svg{
            width: 24px;
        }
    }

    .c-archive{
        margin-left: 60%;
        margin-top: 50vh;
    }

    .c-play-btn{
        padding: 24px 0;
        margin-top: 25vh;
        font-size: 20px;
        position: relative;
        overflow: hidden;

        & > span{
            position: relative;
            z-index: 2;
        }

        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $title-color;
            z-index: 0;
            transform: scale(0.1, 1);
            transform-origin: center;
            transition: .8s;
            transition-timing-function: $easing;
            border-radius: 100px;
            opacity: 0;
        }

        &:hover::after{
            opacity: 1;
            transform: scale(1, 1);
        }

        &:hover > span{
            color: #fff;
        }
    }


    //HONORS

    .c-honors{
        padding: 20vh 0 18vh 0;
    }

    .c-honors__title{
        display: flex;
        align-items: flex-end;
        margin-bottom: 20vh;
    
        & > span{
            margin-bottom: 0;
            @include poly-fluid-sizing('margin-left', (768px:176px, 1280px:320px, 1440px: 330px, 1920px:185px));
        }
    }

    .c-honors__wrap{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
    
        & > div:first-child{
            width: 20%;
            text-align: left;

            & > img{
                transform: rotate(0deg) translate(0, -135%);
                margin-bottom: 18vh;
            }
        }
    }

    .c-featured{
        p{
            width: 100%;
        }
    }

    .c-honors__list{
        width: 64% !important;
    
        li{
            padding: 30px 0;
            border-bottom: 1px solid $hr-color;
    
            .o-title-small{
                width: 15.5%;
                margin-bottom: 0 !important;
            }
    
            img{
                width: 48px;
            }
    
            div{
                display: flex;
                width: 80%;
                align-items: center;
                p{
                    padding-left: 8vw;
                    font-size: 30px;
                }
            }
        }
    }


    //FOOTER

    footer{
        height: 100vh;
        margin-top: 10vh;
        padding: 30vh $side-margin 5vh $side-margin;
    }

    .c-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: stretch;
        margin-bottom: 22vh;

        & > div > h2{
            & > span:nth-child(2){
                margin-top: 14px;
                margin-left: $side-margin;
            }
        }
    }

    .c-footer__cta{
        width: 25%;
        @include poly-fluid-sizing('margin-right', (768px:77px, 1280px:115px, 1366px: 122px, 1920px:162px));
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        div{
            margin-top: 40px;
        }
    }

    .c-footer__socials{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .c-footer__copy{
        margin: 0;
        font-size: 14px;
        @include poly-fluid-sizing('margin-right', (768px:77px, 1280px:88px, 1366px: 115px, 1920px:280px));
    }






    //PLAYBOOK

    .o-play-row{
        display: flex;

        &.u-first-row{
            justify-content: space-between;
            & > img{
                width: 60%;
                height: auto;
            }

            & > div{
                img{
                    width: 60%;
                }
            }
        }

        // .u-play-1{

        // }
    }

}