body{
 width: 100%;
 height: 100%;
 margin: 0;
 overflow-x: hidden;
 text-rendering: optimizeLegibility;
 font-size: 100%;
 font-family: sans-serif;
}

body, ::-webkit-scrollbar, .imgrev::before{
  background: #231f20;/*#fcf0ec;*/
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #2B2B28;
}

::-moz-selection, ::selection, ::-webkit-selection{
  color: inherit;
  background: transparent;
}

/*FONTS*/

@font-face {
  font-family: ttnorms;
  src: url(fonts/CircularStd-Book.woff2);
}

@font-face {
  font-family: termina;
  src: url(fonts/Sequel100Black-85.ttf);
}

/*@font-face {
  font-family: termina;
  src: url(fonts/NeuePlakWideExtra.woff2);
}*/

@font-face {
  font-family: ttnorms_bold;
  src: url(fonts/CircularStd-Medium.woff2);
}


/*UNIVERSAL*/

.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%; margin: auto;}
.col-12 {width: 100%;}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3, h4{
  font-weight: normal;
}

p, h1, h5{
  cursor: default;
}

p .row{
  margin-bottom: 0px;
}

h1{
  white-space: nowrap;
  font-size: 8.1vw;
  color: #ffffff;/*#4bbfda;*/
  font-family: termina, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
}

h1 .row{
  margin-bottom: -18px;
  padding: 0 10px 0 3px;
  margin-left: -4px;
}

h4 .row{
  padding: 0 8px 0 3px;
}

h1 .row > span{
  line-height: 108%;
}

del{
  text-decoration: none;
  position: relative;
}

del::after{
  content: '';
  position: absolute;
  height: 10px;
  width: 100%;
  background: #2c2a2a;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

span{
  display: block;
  font-family: inherit;
}

p{
  font-family: ttnorms, sans-serif;
  font-size: 14px;
  color: #fff;/*#393e46*/
}

a{
  text-decoration: none;
  font-family: ttnorms, sans-serif;
  font-size: 14px;
  color: #fff;/*#222831;*/
  position: relative;
  transition: color .4s;
}

a:hover{
  color: #f94444;
}

.outline{
  -webkit-text-stroke: .02em #fff;/*#4bbfda*/;
  text-stroke: 1px #fff;
  color: transparent;
}

.delay span:first-child > span{
  transition-delay: .1s;
}

.delay span:nth-child(2) > span{
  transition-delay: .2s;
}

.delay span:nth-child(3) > span{
  transition-delay: .3s;
}

.delay span:nth-child(4) > span{
  transition-delay: .4s;
}

.delay span:nth-child(5) > span{
  transition-delay: .5s;
}

.row{
  overflow: hidden;
  font-size: inherit;
}

.row > span, .imgrev::before{
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .3s;
}

.row > span{
  font-family: inherit;
}

.row > span[data-emergence=hidden] {
  transform: translate(0, 100%);
}
.row > span[data-emergence=visible] {
  transform: translate(0, 0);
}

.flex{
  display: flex;
  align-items: center;
}

.jus{
  justify-content: space-between;
}

.ali{
  align-items: flex-start;
}

.imgrev{
  position: relative;
  overflow: hidden;
}

.imgrev img{
  width: 100%;
}

.imgrev::before{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  transition: .8s;
  transition-delay: .1s;
}

.imgrev[data-emergence=hidden]::before {
  height: 100%;
}
.imgrev[data-emergence=visible]::before{
  height: 0;
}

nav{
  position: fixed;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vh 5%;
  z-index: 8;
}

nav a{
  font-size: 13px;
  line-height: 10px;
  text-transform: capitalize;
  /*background: #FFE7D1;*/
}

.ce{
  text-decoration: underline;
  transform: translate(0, 4vh);
  display: block;
  font-size: 25px;
  font-family: ttnorms_bold;
}

.copy{
  font-size: 12px;
  transform: translate(0, 15vh);
  opacity: .7;
  font-family: ttnorms;
}

.wrk, .con, .pro, .exp{
  margin: 30vh 5vw 0 5vw;
  position: relative;
}

.wrk_t > h1, .ins > .arc_t > h1, .pro > div{
  transform: translate(14px, 0);
}

.wrk_t{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.wrk > div{
  width: 100%;
}

.w-img{
  overflow: hidden;
  width: auto;
  text-align: center;
  position: relative;
}

.w-img > div{
  position: absolute;
  left: 0;
  bottom: 0;
}

.w-img > .bg{
  width: 100%;
  margin-bottom: -5px;
}

.w-txt{
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}

.w-txt div{
  padding-left: 50px;
}

.w-txt p{
  font-size: 18px;
  font-family: ttnorms_bold;
  color: #fff;
}

.w-txt div span{
  font-size: 13px;
  opacity: 0.7;
  font-family: ttnorms;
  padding-top: 2px;
  color: #fff;
}

.fot{
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 5vw 5vw;
  border-top: 1px solid rgba(40, 40, 43, .18);
  padding-top: 2vw;
}

.fot p{
  font-size: 13px;
}

.fot a{
  font-size: 20px;
}

.fot > p span:last-child > span{
  transition-delay: .3s;
}

.copy{
  opacity: .5;
  transform: translate(0, 14vh);
  font-size: 12px;
}
